<div class="wrap">
  <div class="left">
    <div class="girl-image-wrap">
      <div 
        class="flag-item" 
        *ngFor="let flag of flagsArr; let i = index" 
        (click)="removeFlag(flag, i)" 
        [style.transform]="'rotate(' + flag.offset + 'deg) translate(120px) rotate(' + (-flag.offset) + 'deg)'"
      >
        <img [src]="flag.src" alt="">
      </div>
      <div class="edit-icon-wrap">
        <span class="material-icons edit-icon-left">edit</span>
      </div>
      <img class="girl-image" src="../assets/girl.png" alt="smiling girl">
    </div>
  </div>
  <div class="right">
    <span class="material-icons edit-icon">edit</span>
    <h1 class="right-title">
      {{ heading }} 
      <span class="material-icons checked-icon">beenhere</span>
    </h1>
    <div class="rate-block">
      <div class="stars-block">
        <span class="material-icons star-rate">star_rate</span>
        <span class="material-icons star-rate">star_rate</span>
        <span class="material-icons star-rate">star_rate</span>
        <span class="material-icons star-rate">star_rate</span>
        <span class="material-icons star-rate">star_half</span>
      </div>
      <span class="reviews-amount">234 Reviews</span>
    </div>
    <p class="profile-description">
      UI\UX Designer, Web Designer, Mobile App Designer, UI\UX Designer, Web Designer,Mobile App Designer
    </p>
    <p class="location">
      <span class="material-icons location-icon">location_on</span>
      Lviv, Ukraine
    </p>
  </div>
</div>
