<h1>{{heading}}</h1>
<div class="wrap">
  <ul class="flags-list">
    <li 
      class="flag-item" 
      *ngFor="let flag of flagsArr; let i = index" 
      (click)="removeFlag(flag, i)" 
      [style.transform]="'translate('+flag.offsetX+'px,'+flag.offsetY+'px)'"
    >
      <img [src]="flag.src" alt="">
    </li>
  </ul>
  <!-- <img class="girl-image" src="../assets/main-qimg-cfb4f84252b92a9acf8de09a1bdec1bd.jfif" alt=""> -->
</div>
<!-- <fa-icon [icon]="faStar"></fa-icon>
<fa-icon [icon]="faStar"></fa-icon>
<fa-icon [icon]="faStar"></fa-icon>
<fa-icon [icon]="faStar"></fa-icon>
<fa-icon [icon]="faStarHalf"></fa-icon> -->