<h1>{{heading}}</h1>
<div class="wrap">
  <ul class="flags-list">
    <li 
      class="flag-item" 
      *ngFor="let flag of flagsArr; let i = index" 
      (click)="removeFlag(flag, i)" 
      [style.transform]="'translateX('+flag.offsetX+'px)'"
    >
      <img [src]="flag.src" alt="">
    </li>
  </ul>
  <!-- <img class="girl-image" src="../assets/girl.png" alt="smiling girl"> -->
</div>
<!-- <fa-icon [icon]="faStar"></fa-icon>
<fa-icon [icon]="faStar"></fa-icon>
<fa-icon [icon]="faStar"></fa-icon>
<fa-icon [icon]="faStar"></fa-icon>
<fa-icon [icon]="faStarHalf"></fa-icon> -->